
.estrutura {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 3rem;   
}

.faq {
    max-width: 50%;
    border-left: 1px solid black;
    margin: 3rem 0rem;
    padding-left: 1rem;
    overflow-y: scroll;
    height: 100vh;
    
}

.faq > h1,
p {
    margin-bottom: 1rem;    
}

.faq summary {
    background-color: var(--background-faq);
    padding: .5rem;
    border-radius: 4px;
    margin-bottom: .7rem;
    font-weight: bold;
    list-style: inside;
    margin-right: 1rem;
}

.faq summary:hover {
    cursor: pointer;
}

.faq summary~p {
    
    padding:1rem;
    margin-bottom: 1rem;
}

.container__estrutura{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    padding: 1rem 0rem;
}

.container__estrutura h1,h3{
    margin-bottom: 1rem;
}



.estrutura_container_video {
    width: 90%;
    height: 60%;
    /* min-height: 400px; */
    max-height: 401px;
    margin-top: 1rem;   
}