.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    background-attachment: fixed;
    background-image: url(../img/QuadroNegro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 3rem;
    position: relative;
    height: 100vh;
}

.card_call_to_action_001 {
    color: var(--cor-destaque);
    grid-column: 1/6;
    grid-row: 3/5;
}

.card_call_to_action_001>h2,
.card_call_to_action_002>h2 {
    margin-bottom: 1rem;
}

.card_call_to_action_001>p,
.card_call_to_action_002>p {
    text-indent: 1rem;
}

.card_call_to_action_002 {
    color: var(--cor-destaque);
    grid-column: 1/4;
    grid-row: 7/9;
    text-align: left;
}

.card_call_to_action_003 {
    display: flex;
    align-items: center;
    justify-content: start;
    grid-column: 1/5;
    grid-row: 10/13;
    /* background-color: red; */

}

.card_call_to_action_003>a {
    color: var(--cor-destaque);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    padding: .5rem;
    border: solid 3px white;
    border-radius: 4px;
}

.container_img {
    position: absolute;
    bottom: -3rem;
    right: 0%;
    display: flex;
    justify-content: end;
    grid-row: 2/13;
    grid-column: 7/13;
}